@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  background: rgb(254, 251, 226);
  background: black;
}

body {
  @apply m-0 min-w-[320px] min-h-screen bg-black text-white;
}

body.fixed-bg {
  @apply overflow-hidden;
}

#app {
  @apply flex place-items-center my-0 mx-auto;
}

.custom-icon {
  @apply relative border-4 border-white border-solid rounded-full p-[10px] w-6 h-6 md:w-16 md:h-16 transition-shadow duration-500 hover:shadow-outlined-primary-shadow;
}

.gradient-background {
  background: linear-gradient(89.96deg, #9f95ff 14.82%, #f1662a 83.14%);
}

.gradient-border {
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.gradient-border:hover {
  color: black;
}

.gradient-border::before {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  background: linear-gradient(to right, #9f95ff, #e44f26);
  padding: 3px;
  border-radius: 50%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-border::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(to right, #9f95ff, #e44f26);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gradient-border:hover::after {
  opacity: 1;
}
.custom-link {
  @apply cursor-pointer text-lg lg:text-3xl w-48 lg:w-[260px] border-b-2 lg:border-b-4 border-white pb-4 relative before:absolute before:bg-contain before:-right-4 before:top-0 md:before:top-1 before:!h-6 before:!w-12 md:before:h-8 md:before:w-16 before:bg-no-repeat before:bg-[url('public/arrow.svg')];
}

.custom-link--black {
  @apply border-black font-medium;
}

.custom-link--small {
  @apply text-base lg:text-2xl font-medium w-32 lg:w-48 border-b-2 before:h-5 before:top-2 before:-right-8;
}

@media (prefers-reduced-motion) {
  .link:hover::after,
  .link:focus::after {
    transform: none;
  }

  .custom-icon:hover {
    box-shadow: none;
  }
}
